#Falafel {
    color: blue;
    background-color: grey;
    font-size: 32px;
}
h2 {
    color: green;
    background-color: grey;
    font-size: 32px;
}

#header1 {
    color: green;
}

p {
    font-family: "Courier New", monospace;
    font-size: 12px;
    text-decoration: none;
}

#ingredients_falafel {
    color: blue;
}

#ingredients_pasta {
    color: green;
}